@using MVCNorthwindCRUD.Models;
@model Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="width:750px;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        
        <p class="card-text">Bu ürün tüketici tarafından yoğun ilgi gördü.</p>
        <h5 class="card-title">Ürün Özellikleri</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Unit Price</th>
                    <th>Units In Stock</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.ProductName</td>
                    <td>@Model.UnitPrice</td>
                    <td>@Model.UnitsInStock</td>
                    <td>@Model.Category.CategoryName</td>
                </tr>
            </tbody>
            
        </table>
        <div class="col-md-3">
            @Html.ActionLink("Listeyi Görüntüle", "Index", null, new { @class = "btn btn-success btn-sm" })
        </div>
    </div>
</div>
